export PORT_ACCOUNT_SERVICE=8088
export  NAME_SERVICE=casa-color-accounts
export  VERSION_SERVICE=1.0.0
export MONGODB_DB_NAME=casa-color-accounts
export MONGODB_URI=mongodb://localhost:27017/

# Billing variables
export BASIC=price_1KvfGPFqzMrKIQguv7HTLEPM
export PREMIUM=price_1KvfFXFqzMrKIQgucIAdRxl0



#Postgres Database
export PGUSER=postgres
export PGHOST=localhost
export PGPORT=6432
export PGDATABASE=casa-color-accounts
export PGPASSWORD=PGPASSWORD
export PORT_PAYMENT_SERVICE=50001
export PGHOST=
export PGUSER=
export PGDATABASE=
export PGPASSWORD=
export PGPORT=
export STRIPE_SECRET_KEY=
export CPU=
export RAM=
export PIPELINE=
export CCP_EMAIL=
export STRIPE_WEBHOOK_SECRET=
export EMAIL_PASSWORD=


#DOCKERFILE
export GO111MODULE=on
export GOPRIVATE=github.com/groupargit/*
export GITHUB_TOKEN=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
export REPO_PROTOS=github.com/groupargit/*